.mainpageheader {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Exo 2', sans-serif;
  
}

.mainpageheader_h2 {
    position: absolute;
    bottom: 220px;
    left: 3%;
    font-family: 'Exo 2', sans-serif;
    font-size: 62px;
    color: rgb(255, 255, 255);

  }

  .mainpageheader_h2_1 {
    position: absolute;
    bottom: 120px;
    left: 3%;
    font-family: 'Exo 2', sans-serif;
    font-size: 75px;
    color: rgb(255, 255, 255);

  }
  .mainpageheader_button{
    position: absolute;
    bottom: 105px;
    left: 12%;
    transform: translateX(-50%); 
    display: inline-block;
    padding: 10px 20px;
    background-color: #C95243;
    color: #fff;
    font-size: 23px;
    font-weight: 550;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Exo 2', sans-serif;
    width: 300px;
    height: 62px;
      
    &:hover,
    &:focus {
    background-color: #812F2B;
        }
      }