.subscriptionsection {
 background-color: #F7F6F2;
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
  height: 420px;
 
  h2 {
   position: absolute;
   top: 1000px;
    right: 5%;
    width: 40%;
     font-size: 2.6rem;
     font-weight: bold;
     margin-bottom: 1rem;
     text-align: right;
     color: black;
  }
 
  p {
   position: absolute;
    top: 1130px;
    right: 5%;
    width: 60%;
     font-size: 1.1rem;
     line-height: 1.5;
     text-align: right;
     max-width: 500px;
     margin-bottom: 1rem;
     color: black;
     font-family: 'Exo 2', sans-serif;
  }
 }
 .subscriptionimage{
   position: absolute;
   top: 920px;
   left: 0%; 
} 