.motivationbox{
  color: white;
  padding: 195px;
}
.motivationcontainer{
    background-color:#D2AB93;
    padding: 240px;
  
    h2{
      position: absolute;
      top: 2800px;
      left: 9%;
      text-align: center;
      font-family: 'obvia-narrow', sans-serif;
      font-size: 2.8rem;
      padding: 35px;
      color: white;
    }

    h3{
        position: absolute;
        top: 2835px;
        left: 9%;
        text-align: center;
        font-family: 'obvia-narrow', sans-serif;
        font-size: 2.8rem;
        padding: 35px;

    }
    h4{
        position: absolute;
        top: 2900px;
        left: 9%;
        text-align: center;
        font-family: 'obvia-narrow', sans-serif;
        font-size: 1.7rem;
        padding: 35px;
        font-weight: 200;   

}
    p{
        position: absolute;
        top: 2980px;
        left: 11.5%;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        font-size: 1.3rem;
        font-display: cursive;
        padding: 35px;
        font-weight: 300;  

    }
  
    img {
      width: 29%;
      height: 50%;
      position: absolute;
      top: 2900px;
      left: 54%; 
    }
  }
  