.categorytitle{
    text-align: center;
    font-family: 'obvia-narrow', sans-serif;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}


.categorybox {
    background-color: #C95243;
    padding: 10px;
    width: 290px;
    height: 170px;
    margin: 40px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #812F2B;
        cursor: pointer; 
}

.categorylabel{
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 32px;
}
}
  
  
  .categorycontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1500px; 
    margin: 0 auto; 
    padding-bottom: 60px ;
  }
  