.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .videoCardContainer {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  