.carrousel_h2{
  text-align: center;
  font-family: 'obvia-narrow', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 20px;
  background-color: #F1EFEB;
  padding: 50px;
  margin-bottom: 30px;
}

.carrousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1500px; 
    margin: 0 auto; 
    padding-bottom: 30px;
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    button {
    display: inline-block;
    padding: 15px 25px;
    background-color: #A9E3F6;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'obvia-narrow', sans-serif;
    text-transform: uppercase;
    border-bottom: none !important;
    text-decoration: none !important;

  
      &:hover {
        background-color:#00b8f5;
      }
  
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
  
    }
  }
  